<!DOCTYPE html>
<html>
<head>
    <title>Đăng nhập</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->

    <?php echo $this->Html->css([
        '/bootstrap/css/bootstrap.min',
        'styles'
    ]); ?>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-bg">
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Logo -->
                <div class="logo">
                    <h1><a href="index.html">Thảo Trà Shop</a></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-wrapper">
                <div class="box">
                    <div class="content-wrap">
                        <h6>Đăng nhập</h6>
                        <input class="form-control" type="text" placeholder="Hãy nhập e-mail">
                        <input class="form-control" type="password" placeholder="Hãy nhập mật khẩu">
                        <div class="action">
                            <a class="btn btn-primary signup" href="../Default">Đăng nhập</a>
                        </div>
                    </div>
                </div>

                <div class="already">
                    <p>Chưa có tài khoản</p>
                    <a href="signup.html">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->

<?php echo $this->Html->script([
   '/bootstrap/js/bootstrap.min',
    'custom'
]); ?>
</body>
</html>